<h1>GameSessions</h1>
<% if logged_in? %>
    <p><% if @game_session.errors.any? %>
    <p> Ya done messed up, check yo'self </p>
    <% @game_session.errors.full_messages.each do |m|%>
        <%= m %><br><br>
        <% end %>
    <% end %>
    <%= form_for (@game_session) do |f| %>
        <%= f.label :session_name %><br>
        <%= f.text_field :session_name %><br>
        <br>
        <%= f.label :games %><br>
        <%= f.collection_select :game_id, Game.all, :id, :name %><br>
        <br>
        <%= f.label :game_tables %><br>
        <%= f.collection_select :game_table_id, GameTable.all, :id, :table_name %><br>
        <br>
        <%= f.submit %>
    <% end %>
<% else %>
    <h3>You have to be logged in to create game sessions! go <%= link_to "here", new_player_path%> to create a player account! </h3>
<% end %>
