<h1>This Game Session</h1>
<h3> <%= @game_session.session_name%> </h3>
<h4> The game we are playing today is <%= @game_session.game.name%>! </h4>
<img src="<%=@game_session.game.photo_url%>" height="200">
<h5> Join us at the table <%= @game_session.game_table.table_name %> located at <%= @game_session.store.name %>! </h5>

<h2>Current players:</h2>
<ul>
<% @game_session.players.each do |player|%>
    <li> <%= player.name %> </li>
<% end %>
<br>

<%= button_to "Join this game!", "/game_sessions/#{@game_session.id}", method: :patch%>
<br>
<%=  button_to "I'm done with this. End it now.", game_session_path(@game_session), method: :delete %>
</ul>
