<h1><%= @game.name %></h1>
<table style="width:100%">
  <tr>
    <th><%= @game.name %></th>
    <th>Number of players: <%= @game.min_players%> - <%= @game.max_players%><br>Average playtime: <%= ((@game.min_playtime + @game.max_playtime) / 2)%> minutes</th>
  </tr>
  <tr>
    <td><img src="<%=@game.photo_url%>" height="200"></td>
    <td><%= @game.description %></td>
  </tr>
</table>
<br>
<p> Learn more about this game by visiting <a href="<%=@game.link_url%>">it's page at Board Game Geeks!</a></p>


<p>Visit <%= link_to "the store", store_path(@game.store_id)%> this game is stored at!</p>

<p> Click on a game session below to get started playing!</p>
<% @game.game_sessions.each do |game_session| %>
  <%= link_to game_session.session_name, game_session_path(game_session) %><br>
<% end %>
<br>
<%= link_to "View all games", games_path%>
