<!DOCTYPE html>
<html>
  <head>
    <title>GameMeetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <footer>
    <p>Follow the links below to view participating stores, players, or inventory of games to choose to play! <p>
    <% if logged_in? %>
    <%= button_to "Logout", sessions_path, method: :delete%>
    <% else %>
    <%= button_to "Login Page", login_path, method: :get%>
    <% end %>
    <p>||<%= link_to "View all games", games_path%> || <%= link_to "View all stores", stores_path%> || <%= link_to "View all players", players_path%> || <%= link_to "View Current Game Sessions", game_sessions_path %> ||</p>
    </footer>
  </body>
</html>
