<!DOCTYPE html>
<html>
  <head>
    <title>GameMeetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="bg-image"></div>
  <div class="bg-text">
    <div class="content">
      <div class="topnav">
        <a>     
          <% if logged_in? %>
          <%= button_to "Logout", sessions_path, method: :delete%>
          <% else %>
          <%= button_to "Login Page", login_path, method: :get%>
          <% end %> 
        </a>  
        <a>---</a>
        <a>---</a>
        <a>-----------------LFG Gaming Sessions-----------------</a>
        <div class="dropdown">
            <button class="dropbtn">Registered Players
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
            <% Player.all.each do |player| %>
            <a href="<%= player_path(player) %>"><%=player.name%></a>
            <% end %>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Participating Stores
             <i class="fa fa-caret-down"></i>
            </button>
          <div class="dropdown-content">
            <% Store.all.each do |store|%>
            <a href="<%= store_path(store) %>%"><%=store.name%></a>
            <% end %>
          </div>
        </div>
 
      </div>


      <div class="content">
      <%= yield %>
      


      <br>
      <br>
      <br>
      </div>

    </div>
      <div id="mySidenav" class="sidenav">
        <a href="<%= games_path %>" id="about">All Games</a>
        <a href="<%= game_sessions_path %>" id="blog">Current Sessions</a>
        <a href="<%= players_path %>" id="projects">Registed Players</a>
      </div>
  </body>
</html>
