<!DOCTYPE html>
<html>
  <head>
    <title>GameMeetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <footer>
    <p>Follow the links below to view participating stores, players, or inventory of games to choose to play! <p>
    <p>||<%= link_to "View all games", games_path%> || <%= link_to "View all stores", stores_path%> || <%= link_to "View all players", players_path%> || <%= link_to "Create game session", new_game_session_path %> ||</p>
    </footer>
  </body>
</html>
